<!doctype html>
<html lang="zh-Hants">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@^2"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@^1"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <title>Dashboard</title>
  </head>
  <body>
    <main>
      <div class="header">
        <h1>Your monitoring dashboard</h1>
      </div>
      <hr />
      <div>
        <h3>CPU Average Usage</h3>
        <canvas id="cpuUsageChart"></canvas>
      </div>
      <div>
        <h3>Memory Usage</h3>
        <canvas id="memoryUsageChart"></canvas>
      </div>
      <div>
        <h3>Disk Average Read Time (ms)</h3>
        <canvas id="diskReadChart"></canvas>
      </div>
      <div>
        <h3>Disk Average Write Time (ms)</h3>
        <canvas id="diskWriteChart"></canvas>
      </div>
      <div>
        <h3>CPU Average Load Time 1m</h3>
        <canvas id="cpuLoad-1m"></canvas>
      </div>
      <div>
        <h3>CPU Average Load Time 5m</h3>
        <canvas id="cpuLoad-5m"></canvas>
      </div>
      <div>
        <h3>CPU Average Load Time 15m</h3>
        <canvas id="cpuLoad-15m"></canvas>
      </div>
      <div>
        <h3>Http Total Request</h3>
        <canvas id="httpRequestChart"></canvas>
      </div>
      <div>
        <h3>Request Per Second</h3>
        <canvas id="requestSecondChart"></canvas>
      </div>
      <div>
        <h3>Max response time per API (ms)</h3>
        <canvas id="maxResponseChart"></canvas>
      </div>
    </main>
    <script type="module" src="/dashboard.js"></script>
  </body>
</html>
