.graphTitle {
  margin-left: 1rem;
}

.timeLabel {
  margin-right: 0.5rem;
  font-size: 1.25rem;
}

.typeLabel {
  margin-left: 2rem;
  margin-right: 0.5rem;
  font-size: 1.25rem;
}

.chartWrap {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
}


.chart {
  width: 40rem;
  flex: 1 1 auto;
}


.times {
  margin-left: 1rem;
  margin-top: 2rem;
}

#timeRangeSelect {
  font-size: 1rem;
  width: 10rem;
}

#typeSelect {
  font-size: 1rem;
  width: 14rem;
}
.chart-selection {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-left: 1rem;
}

@media screen and (max-width: 1305px) {
  .chart {
    width: 30rem;
    flex: 1 1 auto;
  }
}